@import url(//fonts.googleapis.com/css?family=Handlee|Lato:light,bold,black);

body {
	font-family: "Lato", sans-serif;
	color: #d8d8d8;
	background-color: #3A3D42;
}

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 300px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #000; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 60px;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	color: #818181;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Style page content */
.main {
	margin-left: 300px; /* Same as the width of the sidebar */
	margin-right: 400px;
	padding: 100px 30px 100px 30px;
	font-size: 20px;
}

.main a {
	color: #4ac3ce;/*#38B0BD;*/ /* #3399ff; */
	text-decoration: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

#side_name {
	font-family: "Handlee", sans-serif;
	font-size: 80px;
	line-height: 90px;
	font-weight: bold;
	color: #ffffff;
	display: block;
	padding: 10px 30px 30px 40px; /* top, right, bottom, left */
}

img {
	float: left;
	border: 6px solid black;
	margin: 0px 20px 20px 0px;
}
